
   input[type=text]
{
    border-radius:30px;
    font-size: 30px;
    margin-right: 500px;
    width: 550px;
    border-color: aliceblue;
    border-width: 2px;

}

.icon{
    margin-bottom: 20px;
}

.right a{
    color: black;
    font-size: 20px;
    
    
}
#pic{
    margin-left:10%;
}
.right a:hover{
    text-decoration: underline;
}
.right{
   margin-left:80%;

}
.main a {
    float: inline-end;
}
.navbar-main a {
   float: right;
}
img{
    margin-left: 10px;

}
.hr{
    
        border-top: 1px solid grey;
      
}
.button1{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 75px;
    border-radius: 8px;
    padding: 10px;
    border-color: aliceblue;
    
    
}
.button2{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 8px;
    border-color: aliceblue;
}
.container{
   margin-left: 500px;
   margin-bottom: 800px;
   margin-top: 125px;
}
a{
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
}
.image{
    height:44px;
    width:44px;
    border-radius: 32px;


}
#para{
    background-color:rgb(243, 241, 241);
    height:30px;
    margin-top: -47%;
    padding: 6px;
    color:rgb(134, 129, 129);
    
    
}
.footer
{
    margin-bottom:10px;
    background-color:rgb(243, 241, 241);
    font-size: 20px;
    
}
.navbar{
    background-color:rgb(243, 241, 241);
   padding: 20px;
   margin: -30px;

}
.navbar a {
    font-size: 15px;
    color:rgb(134, 129, 129);
    
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar1 a {
    margin-top: -20px;
    float: right;
}
.hori{
    border-color: black;
    border-width: 1px;

}